<p>
  about-us works!
</p>
<div class="media">
  <div class="media-left">
    <img src="assets/Images/User/user.jpg" class="media-object img-circle" style="width:60px">
  </div>
  <div class="media-body">
    <h4 class="media-heading">Akshay Vakharia</h4>
   <p>We are the growing company it is first step towords our goal.
    Stay Connected with us for more updates Thanks for your support
  We are the growing company it is first step towords our goal.
    Stay Connected with us for more updates Thanks for your support</p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <h4 class="media-heading">David Luiz</h4>
    <p>We are the growing company it is first step towords our goal.
    Stay Connected with us for more updates Thanks for your support
  We are the growing company it is first step towords our goal.
    Stay Connected with us for more updates Thanks for your support</p>
  </div>
  <div class="media-right">
    <img src="assets/Images/User/user.jpg" class="media-object img-circle" style="width:60px">
  </div>
</div>